    <% include ../partials/header %>
    <a href="/books">Books</a>
    <a href="/authors">Authors</a>
    <form class="form" action="/author/<%=author.id%>/edit?_method=PUT" method="post">
      <label for="first_name">First Name</label>
      <input id="first_name" type="text" name="first_name" value="<%=author.first_name%>">
      <label for="last_name">Last Name</label>
      <input id="last_name" type="text" name="last_name" value="<%=author.last_name%>">
      <label for="biography">Biography</label>
      <input id="biography" type="textarea" name="biography" value="<%=author.biography%>">
      <label for="portrait_url">Portrait Url</label>
      <input id="portrait_url" type="text" name="portrait_url" value="<%=author.portrait_url%>">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
