<% include ../partials/header %>
      <div class='card'>
        <img height='100px' src="<%=author.portrait_url%>" alt="">
        <h3><%=author.first_name%> <%=author.last_name%></h2>
        <p><%=author.biography%></p>
        <ul>
          <% for (let x = 0; x < join.length; x ++) { %>
            <% if (join[x].authors_id === author.id) { %>
              <a href='/books/<%=join[x].id%>'><%=join[x].title%></a>
            <% } %>
          <% } %>
        </ul>
      </div>
      <form class="" action="/authors/<%=author.id%>/delete?_method=DELETE" method="POST">
        <label for="check">Delete this author?</label>
        <input style='position:relative;left:0;opacity:1;' id="check" type="checkbox" name="check">
        <input type="submit" name="submit" value="submit">
      </form>
  </body>
</html>
