  <% include ../partials/header %>
    <div class="card">
      <img height='100px' src="<%=book.book_cover_url%>" alt="">
      <h2><%=book.title%></h2>
      <% for (let x = 0; x < join.length; x++) { %>
        <% if(join[x].books_id === book.id) {%>
          <a href="/authors/<%=join[x].authors_id%>"><%=join[x].first_name%> <%=join[x].last_name%></a>
        <% } %>
      <% } %>
      <p><%=book.genre%></p>
      <p><%=book.description%></p>
      <a class='btn' href='/book/<%=book.id%>/edit'>Edit</a>
      <a class='btn' href='/book/<%=book.id%>/delete'>Remove</a>
    </div>
  </body>
</html>
