<% include ../partials/header %>
    <% for (var book in books) { %>
      <div class="card">
        <img height='100px' src="<%=books[book].book_cover_url%>" alt="">
        <h2><%=books[book].first_name%></h2>
          <% for (let x = 0; x < join.length; x++) { %>
            <% if(join[x].books_id === books[book].id) {%>
              <a href="/authors/<%=join[x].authors_id%>"><%=join[x].first_name%> <%=join[x].last_name%></a>
            <% } %>
          <% } %>

        <p><%=books[book].genre%></p>
        <p><%=books[book].description%></p>
        <button type="button" name="button">Edit</button>
        <button type="button" name="button">Remove</button>
      </div>
    <% } %>

  </body>
</html>
