<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Galvanize Reads</title>
  </head>
  <body>
    <img height='100px' src="<%=book.book_cover_url%>" alt="">
    <h2><%=book.title%></h2>
    <% for (let x = 0; x < join.length; x++) { %>
      <% if(join[x].books_id === book.id) {%>
        <a href="/authors/<%=join[x].authors_id%>"><%=join[x].first_name%> <%=join[x].last_name%></a>
      <% } %>
    <% } %>
    <p><%=book.genre%></p>
    <p><%=book.description%></p>
    <button type="button" name="button">Edit</button>
    <button type="button" name="button">Remove</button>
  </body>
</html>
